body{
    text-align: center;

    background-color: black;
    color: white;
}
*{
    margin:0;
    padding:0;
}
.hp{
    color: green;
    font-size: 100px;
}

.bar {
    width: 200px;
    height: 20px;
    background: linear-gradient(to bottom, #000000 0%,#a5a5a5 100%);
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
}

.bar__progress {
    width: 0%;
    height: 100%;
    background: linear-gradient(to bottom, #53cbf1 0%,#05abe0 43%,#05abe0 50%,#05abe0 50%,#05abe0 58%,#53cbf1 99%);
    box-shadow: 3px 0 5px 0px rgb(48, 48, 48);
    transition: width 3s 0s ease-in;
}